 * {
            box-sizing: border-box;
        }
        body {
    
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            color: #333;
            background-color: #f4f4f4;
        }

        nav {
            margin: 20px 0;
        }
        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
        }
        section {
            padding: 20px;
            margin: 20px 0;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            background-color:white;
        }
        h2 {
            color: #007BFF;
            text-align: center;
            margin-bottom: 20px;
        }
        h6{
            color: #007BFF;
            text-align: center;
            margin-bottom: 20px;
        }
        .services, .testimonials, .team {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .service, .testimonial, .team-member {
            flex: 1 1 30%;
            margin: 10px;
            padding: 20px;
            background:rgba(0,123,224, 0.17);
            border-radius: 5px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .team-member img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        input, textarea {
            width: 90%;
            margin: 10px 0;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        @media (max-width: 600px) {
            .services, .testimonials, .team {
                flex-direction: column;
                align-items: center;
            }
        }